<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>The Task Organizer</title>
</head>
<body>
<div class="'jumbotron text-center">
    <div class="container-fluid">
        <h1>TASKITO</h1>
    </div>
    <div>
        <h3>Your best friend you can trust to organize and maintain important tasks!</h3>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{%url 'todos:homepage'%}">TASKITO</a></li>
                <li><a class="navbar-link" href="{%url 'admin:index'%}">Admin</a></li>
                <li><a class="navbar-link" href="#">Developer</a></li>
                <li><a class="navbar-link" href="#">Contact Us</a></li>

            </ul>
            <div class="navbar navbar-default navbar-right navbar-fixed-top">
                <ul class="nav navbar-nav">
                <li><a class="navbar-link" href="{%url 'todos:register'%}">Register</a></li>
                <li><a class="navbar-link" href="{%url 'todos:login'%}">Login</a></li>

                </ul>
            </div>
        </div>
    </div>
    </div>
<div class="container">
        {%block body_block%}
        {%endblock%}
</div>
</body>
</html>