<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Todo</title>-->
<!--</head>-->
<!--<body>-->
{%extends 'todos/base.html'%}
{%block body_block%}
{%if request.user.is_authenticated%}
<h1>Logged In</h1>

<h1>{{title}}</h1>
<p><a href="{%url 'todos:add_todos'%}">Add Task</a></p>

<ul>
        {%for todo in todos%}

            <li><a href="/todos/details/{{todo.id}}">{{todo.title}}</a></li>


        {%endfor%}
</ul>
{%else%}
<h1>Login First</h1>
<ul>
    <li><a href="{%url 'todos:register'%}">SIGN UP</a></li>
    <li><a href="{%url 'todos:login'%}">SIGN IN</a></li>
</ul>
{%endif%}
{%endblock%}
<!--</body>-->
<!--</html>-->